---
layout: classes
---

Here you will find a list of available classes that I have created.  

{% for lab in (site.classes | order: 'title') %}
{% if lab.ishome == true %}
<article>
<header>
<h2 class="post-title"><img src="{{ "/images/logo.png" | prepend: lab.type  }}" alt="{{page.type}} Logo"><a href="{{ lab.url }}.html">{{ lab.title }}<br /></a></h2>
</header>
 <div>
{{ lab.excerpt | markdownify }}
  </div>
<div class="more-link">
  <p><a href="{{ lab.url }}.html">start workshop &raquo;</a></p>
</div>

</article>
{% endif %}
{% endfor %}

